{
    "extends": ["airbnb", "prettier"],
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "plugins": ["prettier"],
    "rules": {
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "arrow-body-style": ["error", "as-needed"],
        "import/prefer-default-export": "off",
        "prettier/prettier": ["error"],
        "comma-dangle": ["error", "never"],
        "no-unused-vars": ["warn"],
        "no-var": ["off"],
        "one-var": ["off"]
    }
}
